.exerciseItem {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 15px;
  padding: 10px;

  border: 1px solid var(--grey);
  border-radius: 10px;

  font-size: 20px;

  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.completed {
  opacity: 0.3;
}

.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.completeCheckbox {
  width: 25px;
  height: 25px;
}

.circlesBlock {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  column-gap: 10px;
}

.activeCircle {
  font-weight: 600;
  font-size: 22px;
}

.increaseButton {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 20px;
  height: 20px;
  border-radius: 5px;

  font-size: 20px;

  color: var(--white);
  background-color: var(--red);
}

.button {
  box-sizing: border-box;

  display: flex;
  justify-content: center;
  align-items: center;
  
  margin-left: auto;
  padding: 10px;
  width: 42px;
  height: 42px;
  border: none;
  border-radius: 10px;

  font-size: 28px;

  background-color: var(--grey);
  color: var(--white);
}

.buttonContent {
  align-self: center;

  line-height: 100%;
}

.exercisePart {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);

  gap: 20px;

  width: 100%;
}

.title {
  font-size: 22px;
  font-weight: 500;

  grid-column: 1/3;
}

.times,
.weights {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  column-gap: 10px;
  align-items: center;
}

.subBlockTitle {
  font-size: 16px;
  margin-bottom: 5px;
}

.active {
  font-weight: 700;
  font-size: 22px;
  color: var(--green);
}
