.section {
  padding: 0 10px;
}

.daySelect {
  position: relative;

  width: 100%;
  padding: 10px;

  font-size: 24px;

  border-radius: 10px;
}

.daySelect::after {
  position: absolute;
  top: 30%;
  right: 15px;

  font-size: 14px;

  content: "▼";
}

.dialog {
  width: 90%;
  height: 50%;
  padding: 20px;
  margin: auto;

  border: none;
  border-radius: 10px;
}

.dialog::backdrop {
  backdrop-filter: blur(5px);
}

.option {
  padding: 10px;
  font-size: 18px;

  border-bottom: 1px solid var(--grey);
}
