.header {
  padding-bottom: 30px;
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;

  border-bottom: 1px solid var(--grey);
  border-radius: 0 0 20px 20px;

  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.title {
  font-size: 24px;
}

.button {
  background-color: transparent;
}

.image {
  border-radius: 20px;
}